@media screen and (max-width: 1300px) {
    .h3, h3 {
        font-size: 1.5rem !important;
    }
}



@media screen and (max-width: 991px) {
    .sidebar {
        width: 5.5rem;
        min-height: 100vh;
    }
    .jq-ry-container>.jq-ry-group-wrapper{
        z-index: 0;
    }
    .sidebar .nav-item .nav-link {
        padding: 0.75rem 1rem !important;
    }
    form.user .btn-user {
        font-size: .8rem  !important;
        border-radius: 4rem  !important;
        padding: 0.5rem 0rem  !important;
    }
    .dtopdwn_bg_chng span {
        font-size: 12px !important;
        color: #fff;
    }
    img.admin_logo {
        width: 53px !important;
        background-color: #fff;
        border-radius: 60% !important;
    }
    td.action-producttype {
        width: 28%;
    }


}



@media screen and (max-width: 767px) {
    .sidebar .nav-item .nav-link {
        padding: 0.75rem 0rem !important;
        width: 5.5em !important;
    }
    .sidebar .sidebar-heading{
        padding: 0px !important;
    }
    .h3, h3 {
        font-size: 1.2rem !important;
    }
    .sidebar .nav-item .collapse {
        left: calc(5rem + 1.5rem / 2) !important;
    }
    img.admin_logo {
        width: 50px !important;
        background-color: #fff;
        border-radius: 50% !important;
    }
    footer.sticky-footer {
        padding: 1rem 0 !important;
        flex-shrink: 0;
    }

}
 

@media screen and (max-width:575px) {
    img.admin_logo {
        width: 45px !important;
    }
    a.btn.btn-info, a.btn-danger, a.btn.btn-success {
        padding: 3px;
        width: 25px;
        height: 25px;
        font-size: 11px;
    } 
    .prdct_type_back_btn {
        font-size: 14px;
    }

    .prdct_type_back_btn i.fa.fa-arrow-left {
        font-size: 11px;
        margin-right: 3px;
    }

    .product-type-add, .product-details-back {
        font-size: 12px;
        padding: 4px 7px;
        float: right;
        white-space:nowrap;
    }
    .topbar .dropdown .dropdown-menu {
        width: auto !important;
        right: 0.75rem;
    }
    
}


@media screen and (max-width:560px) {
    .profile-details-style {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding:20px 0px;

    }
    span.product_tpe_updte {
        display: block;
    }

    .image.admnimage {
        margin-bottom: 11px;
        display: flex;
        width: 120px;
        height: 120px;
    }
    .dproheading .h4, h4 {
        font-size: 1.2rem;
    }


    .profile-details-style .button {
        justify-content: center;
    }

}
